<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="段红新的个人博客">
    <meta name="description" content="博客园">
    <title>Document</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/head.css">
    <link rel="stylesheet" href="./css/body-left.css">
    <link rel="stylesheet" href="./css/body.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.12.1/jquery.js"></script>
</head>

<body>
    <%- include("part/canvas")%>
    <div class="wrapbody clearflex">
        <div class="header">
            <div class="headshow" style="color: beige"></div>
            <ul class="headnav">
                <li><a href="" class="headlisting">博客园</a></li>
                <li><a href="" class="headlisting">新随笔</a></li>
                <li><a href="javascript:; "class="headlisting admin">管理</a></li>
                <li class="work"><a href="" class="headlisting">作品</a>
                    <ul class="works listing clearflex">
                        <li><a href="">小手表</a></li>
                        <li><a href="">文字拖拽</a></li>
                        <li><a href="">商品排序</a></li>
                        <li><a href="">文字筛选</a></li>
                        <li><a href="">地区选择</a></li>
                    </ul>
                </li>
                <li class="gamec"><a href="" class="headlisting">游戏</a>
                    <ul class="game listing clearflex">
                        <li><a href="http://localhost:3000/game">飞机大战</a></li>
                    </ul>
                </li>
                <li><a href="" class="headlisting">简历</a></li>
            </ul>
            <div class="chang e">∨</div>
            <div href="" class="chang ed">〓</div>
            <div class="face">
                <div class="oneday"></div>
                <div class="pic"><img src="../photo/default.jpg" alt="" width="110px head=" 110px""></div>
            </div>
        </div>
        <div class="body clearflex">
            <div class="body-b clearflex">
                <div class="bodyleft clearflex">
                    <div class="item item1">
                        <div class="itemcap">
                            <span>transform-origin属性详解</span>
                            <span>2019年6月19日</span>
                        </div>
                        <div class="itemtext">
                            <p>摘要: 相信熟悉CSS3动画的小伙伴们对这个属性应该不陌生了,这个属性能够为我们的动画添加更多有趣的效果, 但同时其不够直观的特点也给大家带来一定学习上的困难.
                                今天我们就来剖析一下这个属性默认情况假设我们当前页面上生成了一个小div元素设置好了宽高和背景色属性.box{ width:300px; height:300px;
                                background:red;}每个元素都有一个默认的tran...阅读全文
                            </p>
                        </div>
                        <div class="itembtm">posted @ 2018-11-19 16:12 万章 阅读(56) 评论(0) 编辑</div>
                    </div>
                    <div class="item item2">
                        <div class="itemcap">
                            <span>transform-origin属性详解</span>
                            <span>2019年6月19日</span>
                        </div>
                        <div class="itemtext">
                            <p>摘要: 相信熟悉CSS3动画的小伙伴们对这个属性应该不陌生了,这个属性能够为我们的动画添加更多有趣的效果, 但同时其不够直观的特点也给大家带来一定学习上的困难.
                                今天我们就来剖析一下这个属性默认情况假设我们当前页面上生成了一个小div元素设置好了宽高和背景色属性.box{ width:300px; height:300px;
                                background:red;}每个元素都有一个默认的tran...阅读全文
                            </p>
                        </div>
                        <div class="itembtm">posted @ 2018-11-19 16:12 万章 阅读(56) 评论(0) 编辑</div>
                    </div>
                    <div class="item item3">
                        <div class="itemcap">
                            <span>transform-origin属性详解</span>
                            <span>2019年6月19日</span>
                        </div>
                        <div class="itemtext">
                            <p>摘要: 相信熟悉CSS3动画的小伙伴们对这个属性应该不陌生了,这个属性能够为我们的动画添加更多有趣的效果, 但同时其不够直观的特点也给大家带来一定学习上的困难.
                                今天我们就来剖析一下这个属性默认情况假设我们当前页面上生成了一个小div元素设置好了宽高和背景色属性.box{ width:300px; height:300px;
                                background:red;}每个元素都有一个默认的tran...阅读全文
                            </p>
                        </div>
                        <div class="itembtm">posted @ 2018-11-19 16:12 万章 阅读(56) 评论(0) 编辑</div>
                    </div>
                    <div class="item item4">
                        <div class="itemcap">
                            <span>transform-origin属性详解</span>
                            <span>2019年6月19日</span>
                        </div>
                        <div class="itemtext">
                            <p>摘要: 相信熟悉CSS3动画的小伙伴们对这个属性应该不陌生了,这个属性能够为我们的动画添加更多有趣的效果, 但同时其不够直观的特点也给大家带来一定学习上的困难.
                                今天我们就来剖析一下这个属性默认情况假设我们当前页面上生成了一个小div元素设置好了宽高和背景色属性.box{ width:300px; height:300px;
                                background:red;}每个元素都有一个默认的tran...阅读全文
                            </p>
                        </div>
                        <div class="itembtm">posted @ 2018-11-19 16:12 万章 阅读(56) 评论(0) 编辑</div>
                    </div>
                    <div class="item item5">
                        <div class="itemcap">
                            <span>transform-origin属性详解</span>
                            <span>2019年6月19日</span>
                        </div>
                        <div class="itemtext">
                            <p>摘要: 相信熟悉CSS3动画的小伙伴们对这个属性应该不陌生了,这个属性能够为我们的动画添加更多有趣的效果, 但同时其不够直观的特点也给大家带来一定学习上的困难.
                                今天我们就来剖析一下这个属性默认情况假设我们当前页面上生成了一个小div元素设置好了宽高和背景色属性.box{ width:300px; height:300px;
                                background:red;}每个元素都有一个默认的tran...阅读全文
                            </p>
                        </div>
                        <div class="itembtm">posted @ 2018-11-19 16:12 万章 阅读(56) 评论(0) 编辑</div>
                    </div>
                </div>
                <div class="bodyright clearflex">
                    <div class="clue comm">
                        <span>
                            状态栏
                        </span>
                    </div>
                    <div class="mymessges top clearflex">
                        <p>昵称:<span></span></p>
                        <p>圆龄:<span></span></p>
                        <p>粉丝:<span></span></p>
                        <p>关注:<span></span></p>
                        <p><span>+关注</span></p>
                    </div>
                    <div class="date">
                        <div class="num">
                        </div>
                    </div>
                    <div class="seach comm">
                        <span>
                            搜索
                        </span>
                    </div>
                    <div class="sea">
                        <div class="seatop">
                            <input type="text"><button>百度</button>
                        </div>
                        <div class="seabtm">
                            <input type="text"><button>谷歌</button>
                        </div>
                    </div>
                    <div class="seach comm">
                        <span>
                            常用链接
                        </span>
                    </div>
                    <div class="mymessges mya">
                        <p><span>我的随笔</span></p>
                        <p><span>我的评论</span></p>
                        <p><span>我的参与</span></p>
                        <p><span>最新评论</span></p>
                        <p><span>我的标签</span></p>
                    </div>
                    <div class="seach comm">
                        <span>
                            随笔档案
                        </span>
                    </div>
                    <div class="mymessges mydata">
                        <p><span>我的随笔</span></p>
                        <p><span>我的评论</span></p>

                    </div>
                    <div class="seach comm">
                        <span>
                            阅读排行榜
                        </span>
                    </div>
                    <div class="mymessges mydata">
                        <p><span>我的随笔</span></p>
                        <p><span>我的评论</span></p>
                        <p><span>我的参与</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-sign" >
            <div class="sign-content">
                <div class="layui-tab layui-bg-gray layui-tab-brief" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title">
                        <li class="layui-this">登录</li>
                        <li>注册</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <form class="layui-form" action="">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">用户名</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="username" required lay-verify="username"
                                            placeholder="请输入用户名" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">2-12位字符</div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">密码框</label>
                                    <div class="layui-input-inline">
                                        <input type="password" name="password" required lay-verify="password"
                                            placeholder="请输入密码" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">6-18位字符</div>
                                </div>

                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-submit lay-filter="login">登录</button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="layui-tab-item">
                            <form class="layui-form" action="">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">用户名</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="username" required lay-verify="username"
                                            placeholder="请输入用户名" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">2-12位字符</div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">密码框</label>
                                    <div class="layui-input-inline">
                                        <input id="reg-password" type="password" name="password" required
                                            lay-verify="password" placeholder="请输入密码" autocomplete="off"
                                            class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">6-18位字符</div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">确认密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" name="password2" required lay-verify="password2"
                                            placeholder="请输入密码" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">再次输入密码</div>
                                </div>

                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-submit lay-filter="reg">立即注册</button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="sign-center-close">
                    ×
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="foot-t"></div>
        </div>
        <div class="heartwrap"></div>
    </div>
    <script src="../js/index-layui.js"></script>
    <script src="../js/topshow.js"></script>
    <script src="../js/seach.js"></script>
    <script src="../js/date.js"></script>
    <script src="../js/creatheart.js"></script>
    <script src="../js/open-close.js"></script>
    <script>
        let mes=document.querySelectorAll(".mymessges.top p span")
        
    </script>
</body>

</html>