<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="段红新的个人博客">
    <meta name="description" content="博客园">
    <title>Document</title>
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/head.css">
    <link rel="stylesheet" href="./css/body-left.css">
    <link rel="stylesheet" href="./css/body.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./layui-v2.5.4/layui/css/layui.css">
    <script src="./layui-v2.5.4/layui/layui.js"></script>
</head>

<body>
    <div class="wrapbody clearflex">
        <div class="header">
            <div class="headshow" style="color: beige"></div>
            <ul class="headnav">
                <li><a href="" class="headlisting">博客园</a></li>
                <li><a href="" class="headlisting">新随笔</a></li>
                <li><a href="" class="headlisting">管理</a></li>
                <li class="work"><a href="" class="headlisting">作品</a>
                    <ul class="works listing clearflex">
                        <li><a href="">小手表</a></li>
                        <li><a href="">文字拖拽</a></li>
                        <li><a href="">商品排序</a></li>
                        <li><a href="">文字筛选</a></li>
                        <li><a href="">地区选择</a></li>
                    </ul>
                </li>
                <li class="gamec"><a href="" class="headlisting">游戏</a>
                    <ul class="game listing clearflex">
                        <li><a href="http://localhost:3000/game">飞机大战</a></li>
                    </ul>
                </li>
                <li><a href="" class="headlisting">简历</a></li>
            </ul>
            <div class="chang e">∨</div>
            <div href="" class="chang ed">〓</div>
            <div class="face">
                <div class="oneday">若生活没有目标，就如同人生没有罗盘。</div>
                <div class="pic"><img src="../img/headpic.jpg" alt="" width="110px head=" 110px""></div>
            </div>
        </div>
        <div class="body clearflex">
            <div class="body-b clearflex">
                <div class="bodyleft clearflex">
                    <div class="item item1">
                        <div class="itemcap">
                            <span>transform-origin属性详解</span>
                            <span>2019年6月19日</span>
                        </div>
                        <div class="itemtext">
                            <p>摘要: 相信熟悉CSS3动画的小伙伴们对这个属性应该不陌生了,这个属性能够为我们的动画添加更多有趣的效果, 但同时其不够直观的特点也给大家带来一定学习上的困难.
                                今天我们就来剖析一下这个属性默认情况假设我们当前页面上生成了一个小div元素设置好了宽高和背景色属性.box{ width:300px; height:300px;
                                background:red;}每个元素都有一个默认的tran...阅读全文
                            </p>
                        </div>
                        <div class="itembtm">posted @ 2018-11-19 16:12 万章 阅读(56) 评论(0) 编辑</div>
                    </div>
                    <div class="item item2">
                        <div class="itemcap">
                            <span>transform-origin属性详解</span>
                            <span>2019年6月19日</span>
                        </div>
                        <div class="itemtext">
                            <p>摘要: 相信熟悉CSS3动画的小伙伴们对这个属性应该不陌生了,这个属性能够为我们的动画添加更多有趣的效果, 但同时其不够直观的特点也给大家带来一定学习上的困难.
                                今天我们就来剖析一下这个属性默认情况假设我们当前页面上生成了一个小div元素设置好了宽高和背景色属性.box{ width:300px; height:300px;
                                background:red;}每个元素都有一个默认的tran...阅读全文
                            </p>
                        </div>
                        <div class="itembtm">posted @ 2018-11-19 16:12 万章 阅读(56) 评论(0) 编辑</div>
                    </div>
                    <div class="item item3">
                        <div class="itemcap">
                            <span>transform-origin属性详解</span>
                            <span>2019年6月19日</span>
                        </div>
                        <div class="itemtext">
                            <p>摘要: 相信熟悉CSS3动画的小伙伴们对这个属性应该不陌生了,这个属性能够为我们的动画添加更多有趣的效果, 但同时其不够直观的特点也给大家带来一定学习上的困难.
                                今天我们就来剖析一下这个属性默认情况假设我们当前页面上生成了一个小div元素设置好了宽高和背景色属性.box{ width:300px; height:300px;
                                background:red;}每个元素都有一个默认的tran...阅读全文
                            </p>
                        </div>
                        <div class="itembtm">posted @ 2018-11-19 16:12 万章 阅读(56) 评论(0) 编辑</div>
                    </div>
                    <div class="item item4">
                        <div class="itemcap">
                            <span>transform-origin属性详解</span>
                            <span>2019年6月19日</span>
                        </div>
                        <div class="itemtext">
                            <p>摘要: 相信熟悉CSS3动画的小伙伴们对这个属性应该不陌生了,这个属性能够为我们的动画添加更多有趣的效果, 但同时其不够直观的特点也给大家带来一定学习上的困难.
                                今天我们就来剖析一下这个属性默认情况假设我们当前页面上生成了一个小div元素设置好了宽高和背景色属性.box{ width:300px; height:300px;
                                background:red;}每个元素都有一个默认的tran...阅读全文
                            </p>
                        </div>
                        <div class="itembtm">posted @ 2018-11-19 16:12 万章 阅读(56) 评论(0) 编辑</div>
                    </div>
                    <div class="item item5">
                        <div class="itemcap">
                            <span>transform-origin属性详解</span>
                            <span>2019年6月19日</span>
                        </div>
                        <div class="itemtext">
                            <p>摘要: 相信熟悉CSS3动画的小伙伴们对这个属性应该不陌生了,这个属性能够为我们的动画添加更多有趣的效果, 但同时其不够直观的特点也给大家带来一定学习上的困难.
                                今天我们就来剖析一下这个属性默认情况假设我们当前页面上生成了一个小div元素设置好了宽高和背景色属性.box{ width:300px; height:300px;
                                background:red;}每个元素都有一个默认的tran...阅读全文
                            </p>
                        </div>
                        <div class="itembtm">posted @ 2018-11-19 16:12 万章 阅读(56) 评论(0) 编辑</div>
                    </div>
                </div>
                <div class="bodyright clearflex">
                    <div class="clue comm">
                        <span>
                            登录（第一次输入即为注册账号）
                        </span>
                    </div>
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-block">
                                <input type="text" name="username" required lay-verify="username" placeholder="请输入用户名"
                                    autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码框</label>
                            <div class="layui-input-block">
                                <input type="password" name="password" required lay-verify="password"
                                    placeholder="请输入密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block clearmargin">
                                <button class="layui-btn" lay-submit lay-filter="formDemo">登录</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                    <div class="mymessges top clearflex">
                        <p>昵称:<span>爸爸</span></p>
                        <p>圆龄:<span>未知</span></p>
                        <p>粉丝:<span>10000</span></p>
                        <p>关注:<span>10000</span></p>
                        <p><span>+关注</span></p>
                    </div>
                    <div class="date">
                        <div class="num">
                        </div>
                    </div>
                    <div class="seach comm">
                        <span>
                            搜索
                        </span>
                    </div>
                    <div class="sea">
                        <div class="seatop">
                            <input type="text"><button>百度</button>
                        </div>
                        <div class="seabtm">
                            <input type="text"><button>谷歌</button>
                        </div>
                    </div>
                    <div class="seach comm">
                        <span>
                            常用链接
                        </span>
                    </div>
                    <div class="mymessges mya">
                        <p><span>我的随笔</span></p>
                        <p><span>我的评论</span></p>
                        <p><span>我的参与</span></p>
                        <p><span>最新评论</span></p>
                        <p><span>我的标签</span></p>
                    </div>
                    <div class="seach comm">
                        <span>
                            随笔档案
                        </span>
                    </div>
                    <div class="mymessges mydata">
                        <p><span>我的随笔</span></p>
                        <p><span>我的评论</span></p>

                    </div>
                    <div class="seach comm">
                        <span>
                            阅读排行榜
                        </span>
                    </div>
                    <div class="mymessges mydata">
                        <p><span>我的随笔</span></p>
                        <p><span>我的评论</span></p>
                        <p><span>我的参与</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="foot-t"></div>
        </div>
    </div>
    <script>
        let headshow = document.querySelector(".headshow");
        let year = document.querySelector(".year");
        let mouth = document.querySelector(".mouth");
        let seach = document.querySelector(".seatop input");
        let btnB = document.querySelector(".seatop button");
        let sea = document.querySelector(".seabtm input");
        let btnG = document.querySelector(".seabtm button");
        let num = document.querySelector(".num");
        let nextbtn = document.querySelector(".nextbtn");
        let passbtn = document.querySelector(".passbtn");
        let datayear = document.querySelector(".datayear");
        let datatop = document.querySelector(".datetop");
        let wrapbody = document.querySelector(".wrapbody")
        let change = document.querySelector(".chang.e");
        let changed = document.querySelector(".chang.ed");
        let headnav = document.querySelector(".headnav");
        layui.use('form', function () {
            var form = layui.form;
            var $ = layui.$;
            form.verify({
                username: function (vaule) {
                    if (!/^[\d_a-z\u4e00-\u9fa5]{2,18}$/.test(vaule)) {
                        return "用户名长度不正确"
                    }
                },
                password: function (vaule) {
                    if (!/^[\d_a-z,!@#\^&*()+\[\]{}\-=\.<>？]{6,18}$/i.test(vaule)) {
                        return "密码长度不正确"
                    }
                }
            })
            //监听提交

            form.on('submit(formDemo)', function (data) {
                // layer.alert(JSON.stringify(data.field));
                $.ajax({
                    type: 'POST',
                    url: "../reg",
                    data: data.field,
                    success: function (msg) {
                        layer.alert(JSON.stringify(msg.msg),{icon: 1});
                    }
                })
                return false;
            });
        });




        change.addEventListener("click", function () {
            change.style.display = "none";
            changed.style.display = "block";
            headnav.style.width = "0px";
            headnav.style.overflow = "hidden";
            headnav.style.transition = "1s";
        })
        changed.addEventListener("click", function () {
            change.style.display = "block";
            changed.style.display = "none";
            headnav.style.width = "460px";
            headnav.style.transition = "1s";
            setTimeout(() => { headnav.style.overflow = "visible"; }, 1000)

        })
        btnB.addEventListener("click", function () {
            window.open("https://www.baidu.com/s?wd=" + seach.value + "&ie=utf-8&tn=90930979_hao_pg")
            seach.value = ""
        });
        btnG.addEventListener("click", function () {
            window.open("https://www.google.com/search?q=" + sea.value + "&oq=" + sea.value + "&aqs=chrome..69i57j69i60l2.2014j0j8&sourceid=chrome&ie=UTF-8")
            sea.value = ""
        })
        function random(min, max) {
            num = Math.floor(Math.random() * (max - min + 1) + min)
            return num
        }
        function creartHeart() {
            let heart = document.createElement("div");
            heart.style.left = random(10, wrapbody.offsetWidth - 40) + "px";
            heart.style.top = "0px"
            heart.className = "heart";
            wrapbody.appendChild(heart)
            sendHeart()
            function sendHeart() {
                heart.num = heart.offsetTop
                heart.style.top = heart.offsetTop + 1 + "px";
                if (parseInt(heart.style.top) > wrapbody.clientHeight - 20) {

                    cancelAnimationFrame(sendHeart)
                    heart.remove()
                } else {
                    requestAnimationFrame(sendHeart)
                }
            }
        }
        let timmer = setInterval(creartHeart, 1000)
        setTimeout(function () {
            clearInterval(timmer)
        }, 21000)
        window.blur(() => { console.log(1) })
        window.focus(() => { console.log(2) })
        function runNian(_year) {
            if (_year % 400 === 0 || (_year % 4 === 0 && _year % 100 !== 0)) {
                return true;
            }
            else { return false; }
        }
        //判断某年某月的1号是星期几
        function getFirstDay(_year, _month) {
            var allDay = 0, y = _year - 1, i = 1;
            allDay = y + Math.floor(y / 4) - Math.floor(y / 100) + Math.floor(y / 400) + 1;
            for (; i < _month; i++) {
                switch (i) {
                    case 1: allDay += 31; break;
                    case 2:
                        if (runNian(_year)) { allDay += 29; }
                        else { allDay += 28; }
                        break;
                    case 3: allDay += 31; break;
                    case 4: allDay += 30; break;
                    case 5: allDay += 31; break;
                    case 6: allDay += 30; break;
                    case 7: allDay += 31; break;
                    case 8: allDay += 31; break;
                    case 9: allDay += 30; break;
                    case 10: allDay += 31; break;
                    case 11: allDay += 30; break;
                    case 12: allDay += 31; break;
                }
            }
            return allDay % 7;
        }
        //显示日历
        function showCalendar(_year, _month, _day, firstDay) {
            var i = 0,
                monthDay = 0,
                showStr = "",
                _classname = "",
                today = new Date();
            //月份的天数
            switch (_month) {
                case 1: monthDay = 31; break;
                case 2:
                    if (runNian(_year)) { monthDay = 29; }
                    else { monthDay = 28; }
                    break;
                case 3: monthDay = 31; break;
                case 4: monthDay = 30; break;
                case 5: monthDay = 31; break;
                case 6: monthDay = 30; break;
                case 7: monthDay = 31; break;
                case 8: monthDay = 31; break;
                case 9: monthDay = 30; break;
                case 10: monthDay = 31; break;
                case 11: monthDay = 30; break;
                case 12: monthDay = 31; break;
            }

            //输出日历表格，这部分因结构而异
            showStr = "<table class='cld-w'><thead>";
            //日历头部
            showStr += "<tr><th colspan='7'><div class='cld-hd'><span class='cld-pre'>&lt;</span><span id='showDate' value='" + _year + "-" + _month + "-" + _day + "'>" + _year + "年" + _month + "月" + (_day) + "日" + "</span><span class='cld-next'>&gt;</span></div></th></tr>";
            //日历星期
            showStr += "<tr><th>日</th><th>一</th><th>二</th><th>三</th><th>四</th><th>五</th><th>六</th></tr>";
            showStr += "</thead><tbody><tr>";
            //当月第一天前的空格
            for (i = 1; i <= firstDay; i++) {
                showStr += "<td></td>";
            }
            //显示当前月的天数
            for (i = 1; i <= monthDay; i++) {
                //当日的日期
                if (_year === today.getFullYear() && _month === today.getMonth() + 1 && i === today.getDate()) {
                    _classname = "cld-cur";
                }
                //当日之前的日期（这个判断是因为我有工作需求，就是要求之前的日期不能点击）
                else if (_year < today.getFullYear() || (_year === today.getFullYear() && _month <= today.getMonth()) || (_year === today.getFullYear() && _month === today.getMonth() + 1 && i < today.getDate())) {
                    _classname = "cld-old";
                }
                //其他普通的日期
                else { _classname = "cld-day"; }
                //其他大于当月的月份的相同日期（为了让点击下一月的时候，相同的日期增加cld-cur类）
                if (_day === i && (_year > today.getFullYear() || _month > today.getMonth() + 1)) { _classname = "cld-cur"; }
                //把日期存在对应的value       
                showStr += "<td class=" + _classname + " value='" + _year + "-" + _month + "-" + i + "'>" + i + "</td>";

                firstDay = (firstDay + 1) % 7;
                if (firstDay === 0 && i !== monthDay) {
                    showStr += "</tr><tr>";
                }
            }
            //剩余的空格
            if (firstDay !== 0) {
                for (i = firstDay; i < 7; i++) {
                    showStr += "<td></td>";
                }
            }
            showStr += "</tr></tbody></table>";
            //插入calendar的页面结构里
            calendar.innerHTML = showStr;
        }
        //显示年月日
        function showDate(_year, _month, _day) {
            var date = "", firstDay = getFirstDay(_year, _month, _day);
            if (_day !== 0) {
                date = _year + "年" + _month + "月" + _day + "日";
            }
            else { date = "No Choose."; }
            document.getElementById("showDate").innerHTML = date; //日历头部显示
            showCalendar(_year, _month, _day, firstDay);         //调用日历显示函数
        }
        //上一月
        function preMonth(_year, _month, _day) {
            if (_month == 1) { showDate(_year - 1, 12, _day); }
            else { showDate(_year, _month - 1, _day); }
        }
        //下一月
        function nextMonth(_year, _month, _day) {
            if (_month == 12) { showDate(_year + 1, 1, _day); }
            else { showDate(_year, _month + 1, _day); }
        }
        //初始化
        var calendar = document.createElement('div');
        calendar.setAttribute('id', 'showCld');
        num.appendChild(calendar); //增加到你的box里

        //获取当天的年月日    
        var today = new Date();
        var _year = today.getFullYear(),
            _month = today.getMonth() + 1,
            _day = today.getDate();
        var firstDay = getFirstDay(_year, _month);

        //显示日历
        showCalendar(_year, _month, _day, firstDay);
        //日历点击的事件委托（可以查查js冒泡的应用）
        calendar.onclick = function (e) {
            var e = e || window.event;
            var target = e.srcElement || e.target;
            //把日历的头部的年月日分割成数组，这里保存在其value属性上
            dayArr = document.getElementById('showDate').getAttribute('value').split('-');
            if (target) {
                //如果是可点击的日期
                if (target.className === "cld-day" || target.className === "cld-cur") {
                    dateArr = target.getAttribute('value').split('-');
                    //减0是把字符串转化成数值类型，以下一样            
                    showDate(dateArr[0] - 0, dateArr[1] - 0, dateArr[2] - 0);
                    calendar.className = "";
                }
                //如果是上一月的点击
                else if (target.className === "cld-pre") {
                    preMonth(dayArr[0] - 0, dayArr[1] - 0, dayArr[2] - 0);
                }
                //如果是下一月的点击
                else if (target.className === "cld-next") {
                    nextMonth(dayArr[0] - 0, dayArr[1] - 0, dayArr[2] - 0);
                }
            }
        };
    </script>
</body>

</html>